@font-face
    font-family: '28 Days Later'
    src: url('/website_movie/static/src/fonts/28DaysLater.eot')
    src: url('/website_movie/static/src/fonts/28DaysLater.eot?#iefix') format('embedded-opentype'),url('/website_movie/static/src/fonts/28DaysLater.woff') format('woff'),url('/website_movie/static/src/fonts/28DaysLater.ttf') format('truetype')
    font-weight: normal
    font-style: normal

$height: 450px

@media screen, print
    html,body
        display: block
        background: red

    .mv-report
        position: relative
        height: 100vw
        .head

            padding: 0
            z-index: 2
            positon: relative
            width: 100%
            min-height: $height

            .img-header
                width: 100%
                overflow: hidden
                height: $height
                img
                    width: 100%


            .overlay
                padding-top: 75px
                min-height: $height
                padding-bottom: 40px
                position: absolute
                top: 0
                width: 100%
                h1
                    font-family: '28 Days Later'
                    color: white
                    text-transform: uppercase
                    padding: 15px
                    font-size: 5em
                    text-shadow: 1px 1px 10px rgba(0,0,0,.4)
                    text-align: center
                    margin-left: auto
                    margin-right: auto
                    display: block
                h4
                    i
                        text-shadow: 1px 1px 10px rgba(0,0,0,.4)
                        color: rgb(240,218,11) !important
                        font-size: 3em



        .description
            background-color: rgba(0,0,0,.2)
            font-size: 1.2em
            padding: 20px 20px
            min-height: 450px
            h1,h2,h3,h4
                color: rgba(0,0,0,.6) !important
        .actor
            &::after
                content: ', '
            &:last-child
                &::after
                    content: '.'

        footer
            display: block
            width: 100%
            position: absolute
            display: block
            padding: 20px 20px
            .logo
                max-height: 30px !important
